#cv {
	background-color:#e4ff34;
	font-family:arial;
	margin-left:50px;
}
#projects {
    background-color:#f1f1f1;
	font-family:arial;
	margin-left:50px;
}

#home {
    background-color:#f34841;
	font-family:arial;
	margin-left:50px;
}
#contact {
    background-color:#4e4e4e;
	color:#f1f1f1;
	font-family:arial;
	margin-left:50px;
}
#contact p {
	font-family:arial;
}
#contact a {
	color:#f1f1f1
}
#contact a:hover {
	text-decoration:underline;
	color:#919191;
}
#nav {
	text-align: left;
	margin-right: 250px;
	font-family:arial;
}
#nav a:hover {
	color:#919191;
	text-decoration:underline;
}
#paintings img {
	width: 455px;
	height: 455px;
}
#paintings-zoom img{
	width: 800px;
}
.title {
	width: 455px;
	height: 85px;
}
h1 {
	font-family:arial;
	font-size:20;
	color:#000
}
body {
	font-family:arial;
	font-size:16;
	color:#000
}
#paintings {
	font-family:arial;
}
a {
	font-family:arial;
	font-size:16;
	color:#000;
	text-decoration: none;
}
